* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #222831;
}



.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation-bar ul {
    list-style: none;
    display: flex;
    padding: 24px 20px;
    gap: 8px;
}

.navigation-bar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.context {
    text-align: left;
    padding: 50px 20px;
    margin: 50px;
    background-color: ;
    width: 400px;
}

.Btn1 {
    padding: 5px 20px;
    margin: 15px;
    border-radius: 20px;
    border: none;
    background-color: rgb(15, 214, 200);
    color: white;
    font-weight: bold;
}

.Btn2 {
    padding: 5px 20px;
    margin: 15px;
    border-radius: 20px;
    border: none;
    background-color: rgb(36, 36, 36);
    color: white;
    font-weight: bold;
    font-size: 12px;
}


